.contacts__wrapper {
  @media (max-width: @max-mobile) {
    margin: 0 30px 0 30px;
  }

  @media (min-width: @min-tablet) {
    display: flex;
    flex-direction: column;
    width: @tablet-width;
    margin: 0 auto;
  }
}

.contacts__button-area {
  display: flex;
  justify-content: center;
}

.contacts__button {
  @media (min-width: @min-tablet) {
    padding: 16px 26px 16px 26px;
  }
}
