.fieldset-content {
  border: none;
  padding: 0;
  margin: 50px 0 30px 0;
}

.fieldset-content__legend {
  .font(17px;16px;bold;@c-aqua);
  display: flex;
  justify-content: space-between;

  span {
    white-space: nowrap;
    text-transform: uppercase;
  }

  @media (max-width: @max-mobile) {
    width: 100%;

    &::after {
      content: "";
      margin: 8px 0 0 20px;
      width: 100%;
      height: 1px;
      background-color: @c-aqua;
    }
  }
}

.fieldset-content__label {
  @media (max-width: @max-mobile) {
    .font(17px;18px;bold);
    margin-top: 21.85px;
  }

  @media (min-width: @min-tablet) {
    .font(19px;18px;bold);
    align-self: center;
  }
}

.fieldset-content__radio-label {
  position: relative;
  display: block;
  min-height: 18px;

  &::before {
    content: "";
    position: absolute;
    left: -61px;
    top: -9px;
    width: 18px;
    height: 18px;
    border: 10px solid @c-white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px @c-gray;
  }

  &:hover {
    &::before {
      box-shadow: 0 0 0 2px @c-aqua;
    }
  }

  &:active {
    &::before {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
    }
  }

  @media (max-width: @max-mobile) {
    margin: 27px 0 0 61px;
  }
}

.fieldset-content__radio:checked + .fieldset-content__radio-label {
  &::before {
    background-color: @c-aqua;
  }
}

.fieldset-content__checkbox-label {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 38px;
    height: 38px;
    left: -61px;
    top: -9px;
    border: 2px solid @c-gray;
  }

  &:hover {
    &::before {
      border: 2px solid @c-aqua;
    }
  }

  &:active {
    &::before {
      border: 2px solid rgba(68, 68, 68, 0.3);
    }
  }

  @media (max-width: @max-mobile) {
    margin: 43px 0 0 61px;
  }
}

.fieldset-content__radio:checked + .fieldset-content__checkbox-label {
  &::before {
    background-image: url("../img/Tick.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.fieldset-content__list {
  .offbulit;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: @max-mobile) {
    flex-direction: column;
  }

  @media (min-width: @min-tablet) {
    justify-content: space-between;
    margin-left: 130px;
    margin-top: -36px;
  }

  @media (min-width: @min-desktop) {
    justify-content: space-between;
  }
}

.fieldset-content__list-column {
  @media (min-width: @min-tablet) {
    .fieldset-content__item {
      flex-direction: column;
      min-height: max-content;
    }
  }
}

.fieldset-content__list-twocolumn {
  .fieldset-content__item {
    @media (min-width: @min-tablet) {
      width: 157px;
    }
  }
}

.fieldset-content__item {
  display: grid;
  position: relative;

  @media (max-width: @max-mobile) {
    grid-template-columns: 1fr;

    svg {
      position: absolute;
      top: 20px;
      right: 0;
    }
  }

  @media (min-width: @min-tablet) {
    grid-template-columns: max-content 1fr;
    height: 52px;
    margin-bottom: 12px;
    width: 100%;

    svg {
      position: absolute;
      top: 20px;
      right: 0;
    }
  }

  @media (min-width: @min-desktop) {
    grid-template-columns: max-content 1fr;
  }
}

.fieldset-content__field:hover {
  & + svg > g {
    opacity: 1;
    fill: @c-aqua;
  }

  & + svg > path {
    opacity: 1;
    fill: @c-aqua;
  }
}

.fieldset-content__field:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid @c-aqua;

  & + svg > g {
    opacity: 1;
    fill: @c-aqua;
  }

  & + svg > path {
    opacity: 1;
    fill: @c-aqua;
  }

  &::placeholder {
    color: @c-black;
    opacity: 1;
  }
}

.fieldset-content__field {
  border: none;
  border-bottom: 2px solid @c-black;

  @media (max-width: @max-mobile) {
    .font(17px;18px;normal;@c-light-gray);
    height: 52px;
  }

  @media (min-width: @min-tablet) {
    .font(19px;18px;normal;@c-light-gray);
    margin-left: 24px;
    height: 52px;
  }

  @media (min-width: @min-desktop) {
    height: 52px;
  }
}

.fieldset-content-tel {
  @media (min-width: @min-tablet) {
    .fieldset-content__item {
      display: block;
    }

    .fieldset-content__field--phone {
      margin: 0;
      width: 100%;
      background-color: @c-F1F1F1;
    }
  }
}

.fieldset-content-email {
  margin-top: 0;

  @media (min-width: @min-tablet) {
    .fieldset-content__item {
      display: block;
    }

    .fieldset-content__field--email {
      margin: 0;
      width: 100%;
      background-color: @c-F1F1F1;
    }
  }
}

.fieldset-content__textarea {
  @media (max-width: @max-mobile) {
    .font(17px;18px;normal;#B3B3B3);
    height: 140px;
    width: 100%;
    margin-top: 30px;
  }

  @media (min-width: @min-tablet) {
    .font(19px;18px;normal;#B3B3B3);
    height: 142px;
    width: 100%;
  }
}

.fieldset-content__textarea:hover {
  border: 2px solid @c-aqua;
}

.fieldset-content__textarea:focus {
  border: 2px solid @c-aqua;
  outline: none;
  color: @c-black;

  &::placeholder {
    color: @c-black;
    opacity: 1;
  }
}

.filter__bottom-wrapper {
  display: flex;

  @media (max-width: @max-mobile) {
    flex-direction: column;
    justify-content: center;
    width: 86.52%;
    margin: 0 auto;
  }

  @media (min-width: @min-tablet) {
    width: @tablet-width;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  @media (min-width: @min-desktop) {
    width: 1050px;
  }
}

.filter-content__disclaimer {
  @media (max-width: @max-mobile) {
    .font(14px;16px;normal;@c-gray);
  }

  @media (min-width: @min-tablet) {
    .font(17px;30px;normal;@c-gray);
  }
}

.fieldset-content-radiocheckbox {
  @media (min-width: @min-tablet) {
    .fieldset-content__list {
      margin-left: 190px;
    }

    .fieldset-content__item {
      min-width: 248px;
    }
  }
}
