.item-of-week {
  @media (max-width: @max-mobile) {
    margin-bottom: 36px;
  }

  @media (min-width: @min-tablet) {
    margin-bottom: 55px;
  }

  @media (min-width: @min-desktop) {
    margin-bottom: 68px;
  }
}

.item-of-week__wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: @max-mobile) {
    width: @mobile-width;
    margin: 0 auto;

    header {
      margin: 0 30px 0 30px;
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: @min-tablet) {
    width: @tablet-width;
    margin: 0 auto;

    header {
      margin-top: 39.5px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  @media (min-width: @min-desktop) {
    margin: 0 auto;
    width: @desktop-width;
    background-image: url("../../img/triple-set-big.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 525px;
  }
}

.item-of-week__title {
  flex-grow: 1;

  @media (min-width: @min-desktop) {
    .font(53px;57px;bold);
    order: 2;
    margin-left: 23px;
  }
}

.item-of-week__label {
  text-transform: uppercase;

  @media (max-width: @max-mobile) {
    .font(17px;20px;bold;@c-aqua);
  }

  @media (min-width: @min-tablet) {
    .font(17px;17px;bold;@c-aqua);
    text-align: center;
    width: 100px;
    flex-grow: 0;
  }

  @media (min-width: @min-desktop) {
    order: 0;
    align-self: center;
  }
}

.item-of-week__body {
  @media (max-width: @max-mobile) {
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @min-tablet) {
    display: grid;
    grid-template-areas: "text img" "table img" "price img" "button img";
    margin-top: 37.5px;
  }

  @media (min-width: @min-desktop) {
    margin-left: 100px;
    padding-right: 585px;
  }
}

.item-of-week__text {
  @media (max-width: @max-mobile) {
    .font(15px;24px;normal;@c-gray);
    margin: 17.5px 0 14px 0;
  }

  @media (min-width: @min-tablet) {
    display: block;
    margin: 0;
    .font(17px;30px;normal;@c-gray);
    grid-area: text;
  }

  @media (min-width: @min-desktop) {
    margin-bottom: 30px;
  }
}

.item-of-week__table {
  @media (max-width: @max-mobile) {
    border-spacing: 0;

    width: @mobile-width;
    margin: 14px 0 14px 0;

    td {
      .font(15px;40px;normal;@c-gray);
      border-bottom: 1px solid @c-ECECEC;
    }
  }

  @media (min-width: @min-tablet) {
    .font(15px;20px;normal;@c-gray);
    grid-area: table;
  }

  @media (min-width: @min-desktop) {
    margin: 30px 0 124px 0;
  }
}

.item-of-week__img {
  @media (max-width: @max-mobile) {
    margin: 14px auto 14px auto;
  }

  @media (min-width: @min-tablet) {
    grid-area: img;
    margin: 13px 0 0 42px;
  }

  @media (min-width: @min-desktop) {
    display: none;
  }
}

.item-of-week__price {
  @media (max-width: @max-mobile) {
    .font(17px;24px;bold;@c-gray);
    justify-self: center;
    margin: 11.5px 0 12.5px 0;
    text-align: center;
    display: inline-block;
  }

  @media (min-width: @min-tablet) {
    grid-area: price;
    .font(20px;24px;bold;@c-gray);
    justify-self: center;
  }

  @media (min-width: @min-desktop) {
    margin-bottom: 15px;
  }
}

.item-of-week__button {
  @media (max-width: @max-mobile) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0 16px 0;
    margin: 12.5px 0 0 0;
  }

  @media (min-width: @min-tablet) {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: @min-desktop) {
    margin-top: 18px;
    padding: 16px 0 16px 0;
  }
}
