.main-nav__menu {
  grid-area: menu;
  position: relative;

  @media (max-width: @max-mobile) {
    justify-self: center;
    width: @mobile-width;
    margin: 0;
    border-top: 1px solid @c-ECECEC;
  }

  @media (min-width: @min-tablet) {
    background-color: @c-FAFAFA;
    border-top: 1px solid @c-E1E1E1;
  }

  @media (min-width: @min-desktop) {
    align-self: center;
    background-color: @c-white;
    border: none;

    &::before {
      content: "";
    }
  }
}

.main-nav__menu--closed {
  @media (max-width: @max-mobile) {
    display: none;
  }
}

.main-nav__menu-list {
  @media (min-width: @min-tablet) {
    display: flex;
  }
}

.main-nav__usermenu {
  justify-self: right;
  grid-area: usermenu;

  @media (max-width: @max-mobile) {
    justify-self: center;
    width: @mobile-width;
    margin: 0;
  }
}

.main-nav__usermenu--closed {
  @media (max-width: @max-mobile) {
    display: none;
  }
}

.main-nav__list {
  .offbulit;

  @media (min-width: @min-tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @min-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  @media (max-width: @max-mobile) {
    border-bottom: 1px solid @c-ECECEC;
  }

  a {
    .font (17px;24px;bold);
    color: @c-black;
    display: block;
  }
}

.main-nav__menu-item {
  @media (max-width: @max-mobile) {
    a {
      margin-left: 14%;
    }
  }
}

.main-nav__user-link {
  @media (max-width: @max-mobile) {
    padding: 28.5px 0 26.5px 0;
  }

  @media (min-width: @min-tablet) {
    padding: 32.5px 20px 31.5px 0;
  }

  &:hover {
    transition: 0.3s;
    opacity: 0.6;

    svg > path {
      opacity: 1;
      fill: @c-aqua;
    }
  }

  &:active {
    opacity: 0.4;
  }
}

.main-nav__menu-link {
  @media (max-width: @max-mobile) {
    padding: 28.5px 0 26.5px 44px;
  }

  @media (min-width: @min-tablet) {
    padding: 21.5px 0 0 50px;
  }

  @media (min-width: @min-desktop) {
    padding: 0;
  }

  &:hover {
    transition: 0.3s;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.main-nav__search {
  @media (min-width: @min-tablet) {
    padding: 0;
    border-right: 1px solid @c-E6E6E6;
    border-left: 1px solid @c-E6E6E6;

    a {
      grid-area: search;
      display: block;
      width: 18px;
      height: 18px;
    }
  }
}

.main-nav__search-span {
  @media (max-width: @max-mobile) {
    display: inline-block;
    margin-left: 26px;
  }

  @media (min-width: @min-tablet) {
    display: none;
  }
}

.main-nav__search-link {
  @media (max-width: @max-mobile) {
    display: flex;
    align-items: center;
    margin-left: 14%;
  }

  @media (min-width: @min-tablet) {
    padding: 32.5px 31px 31.5px 33px;
  }
}

.main-nav__basket-link {
  display: flex;
  align-items: center;

  @media (max-width: @max-mobile) {
    margin-left: 14%;
  }

  @media (min-width: @min-tablet) {
    svg {
      margin: 0 21px 0 21px;
    }
  }
}

.main-nav__basket-span {
  @media (max-width: @max-mobile) {
    margin-left: 26px;
  }
}

.main-nav__toggle {
  grid-area: button;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-right: 30px;

  @media (min-width: @min-tablet) {
    display: none;
  }
}

.main-nav__toggle--closed::before {
  content: "";
  width: 20px;
  height: 2px;
  box-shadow: 0 8px 0 0 @c-black, 0 16px 0 0 @c-black;
  background-color: @c-black;
}

.main-nav__toggle--opened {
  &::before,
  &::after {
    position: absolute;
    top: 38px;
    right: 38px;
    content: "";
    width: 28px;
    height: 2px;
    background-color: @c-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__toggle--nojs {
  visibility: hidden;
}
