.page-header {
  width: @mobile-width;
}

.page-header__wrapper {
  display: grid;
  position: relative;

  @media (max-width: @max-mobile) {
    grid-template-areas: "logo button" "menu menu" "usermenu usermenu";
    align-items: center;
    grid-template-columns: 1fr min-content;
    position: absolute;
    width: 100%;
    background-color: @c-white;
    z-index: 10;
  }

  @media (min-width: @min-tablet) {
    grid-template-areas: "logo usermenu" "menu menu";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;

    &::before {
      content: "Бесплатная доставка по России";
      position: absolute;
      right: 50px;
      .font (15px;24px;normal;@c-gray);
      bottom: 0;
      z-index: 10;
    }
  }

  @media (min-width: @min-desktop) {
    grid-template-areas: "menu logo usermenu";
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    width: @desktop-width;
    margin: 0 auto;

    &::before {
      content: "Бесплатная доставка по России";
      position: absolute;
      right: 50px;
      bottom: -45px;
      .font (15px;24px;normal;@c-gray);
    }
  }
}

.page-header__wrapper--nojs {
  @media (max-width: @max-mobile) {
    position: static;
  }
}

.page-header__logo {
  grid-area: logo;

  @media (max-width: @max-mobile) {
    margin: 22px 0 22px 30px;
    justify-self: center;
    @url: "../img/logo-1.svg";
    .backimg(@url;85px;35px);
  }

  @media (min-width: @min-tablet) {
    @url: "../img/logo-2.svg";
    .backimg(@url;114px;45px);
    margin: 22px 0 21px 50px;
  }

  @media (min-width: @min-desktop) {
    align-self: center;
    justify-self: center;
    @url: "../img/logo-3.svg";
    .backimg(@url;149px;72px);
    margin: 0;
  }

  &:hover {
    transition: 0.3s;
    opacity: 0.5;
  }

  &:active {
    transition: 0.2s;
    opacity: 0.3;
  }
}

.page-header__logo--nojs {
  @media (max-width: @max-mobile) {
    margin: 22px 0 22px 80px;
  }
}
