.page-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.page-main__gray-fieldset {
  @media (min-width: @min-tablet) {
    background-color: @c-F1F1F1;
  }

  @media (min-width: @min-desktop) {
    background-color: @c-F1F1F1;
  }
}
